[가장 가까운 같은 글자](https://school.programmers.co.kr/learn/courses/30/lessons/142086)

In [ ]:
def solution(s):
    dic={}
    answer = []
    for i,v in enumerate(s):
        if v in dic:
            n=i-dic[v]
        else:
            n=-1
        answer.append(n)
        dic[v]=i
    
    return answer

In [4]:
def solution(s):
    dic={}
    answer = []
    for i,v in enumerate(s):
        if v in dic:
            n=i-dic[v]
        else:
            n=-1
        answer.append(n)
        dic[v]=i
    
    return answer

print(solution("foobar"))
print(solution("banana"))
print(solution("moonlabon"))
print(solution("python"))
print(solution("abababababa"))

[-1, -1, 1, -1, -1, -1]
[-1, -1, -1, 2, 2, 2]
[-1, -1, 1, -1, -1, -1, -1, 5, 5]
[-1, -1, -1, -1, -1, -1]
[-1, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2]

[문자열 나누기](https://school.programmers.co.kr/learn/courses/30/lessons/140108)

In [ ]:
def solution(s):
    xn,yn=0,0
    cnt=0

    for v in s:
        if xn==yn:
            cnt+=1
            x=v
            
        if x==v:
            xn+=1
        else:
            yn+=1

    return cnt

In [10]:
def solution(s):
    xn,yn=0,0
    cnt=0

    for v in s:
        if xn==yn:
            cnt+=1
            x=v
            xn,yn=0,0
            
        if x==v:
            xn+=1
        else:
            yn+=1

    return cnt

print(solution("banana"))
print(solution("abracadabra"))
print(solution("aaabbaccccabba"))
print(solution("ppapedfkllw"))
print(solution("ppapedfkllww"))

3
6
3
3
3

[명예의 전당 (1)](https://school.programmers.co.kr/learn/courses/30/lessons/138477)

In [ ]:
def solution(k, score):
    board=[]
    answer=[]

    for i in range(len(score)):
        if i<k:
            board.append(score[i])
        else:
            if score[i]>min(board[-1]):
                board.remove(min(board))
                board.append(score[i])
        
        answer.append(min(board))
        
    return answer

In [24]:
def solution(k, score):
    board=[]
    answer=[]

    for i in range(len(score)):
        if i<k:
            board.append(score[i])
            board.sort(reverse=True)
        else:
            if score[i]>board[-1]:
                board[-1]=score[i]
                board.sort(reverse=True)
        
        answer.append(board[-1])
        
    return answer

print(solution(3,[10, 100, 20, 150, 1, 100, 200]))
print(solution(4,[0, 300, 40, 300, 20, 70, 150, 50, 500, 1000]))

[10, 10, 10, 20, 20, 100, 100]
[0, 0, 0, 0, 20, 40, 70, 70, 150, 300]

In [25]:
def solution(k, score):

    board = []

    answer = []
    for s in score:

        board.append(s)
        if (len(board) > k):
            board.remove(min(board))
        answer.append(min(board))

    return answer
print(solution(3,[10, 100, 20, 150, 1, 100, 200]))
print(solution(4,[0, 300, 40, 300, 20, 70, 150, 50, 500, 1000]))

[10, 10, 10, 20, 20, 100, 100]
[0, 0, 0, 0, 20, 40, 70, 70, 150, 300]

[기사단원의 무기](https://school.programmers.co.kr/learn/courses/30/lessons/136798)

[과일 장수](https://school.programmers.co.kr/learn/courses/30/lessons/135808)

[푸드 파이트 대회](https://school.programmers.co.kr/learn/courses/30/lessons/134240)

[햄버거 만들기](https://school.programmers.co.kr/learn/courses/30/lessons/133502)

SQL: [특정 옵션이 포함된 자동차 리스트 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/157343)

SQL: [자동차 대여 기록에서 장기/단기 대여 구분하기](https://school.programmers.co.kr/learn/courses/30/lessons/151138)

SQL: [평균 일일 대여 요금 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/151136)

SQL: [조건에 맞는 도서 리스트 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/144853)