[옹알이 (2)](https://school.programmers.co.kr/learn/courses/30/lessons/133499)

In [ ]:
def solution(babbling):
    keyword = ["aya","ye","woo","ma"]
    answer = 0

    for bab in babbling:
        n1 = ""
        n2 = ""
        for b in bab:
            n1 += b
            if n1 in keyword:
                if n1==n2: 
                    break
                n2 = n1
                n1 = ""

        if n1 == "":
            answer += 1

    return answer

In [7]:
def solution(babbling):
    keyword = ["aya","ye","woo","ma"]
    answer = 0

    for bab in babbling:
        n1 = ""
        n2 = ""
        for b in bab:
            n1 += b
            if n1 in keyword:
                if n1==n2: 
                    break
                n2 = n1
                n1 = ""

        if n1 == "":
            answer += 1

    return answer


print(solution(["ayaye", "uuu", "yeye", "yemawoo", "ayaayaa"]))
print(solution(["aya", "yee", "u", "maa"]))
print(solution(["yeye","yeye"]))
print(solution(["ayayemaaye"]))

2
1
0

0

In [5]:
if "AA" in "BAAJ":
    print("BBBBAAJ".index("AA"))

True
2

In [10]:
def solution(babbling):
    answer = 0
    for i in babbling:
        for j in ['aya','ye','woo','ma']:
            if j*2 not in i:
                i=i.replace(j,' ')
        if len(i.strip())==0:
            answer +=1
    return answer

# replace()
mm="happy"
print(mm.replace("pp","mm"))
print(mm.replace("pp",1))

hammy

TypeError: replace() argument 2 must be str, not int

[콜라 문제](https://school.programmers.co.kr/learn/courses/30/lessons/132267)

In [ ]:
def solution(a, b, n):
    answer = 0
    while True:
        answer += (n//a)*b
        n = (n//a)*b + n%a
        if n < a:
            break
    return answer

In [13]:
def solution(a, b, n):
    answer = 0
    while True:
        answer += (n//a)*b
        n = (n//a)*b + n%a
        if n < a:
            break
    return answer

print(solution(2,1,20))
print(solution(3,1,20))
print(solution(4,1,20))
print(solution(3,2,20))

19
9
6
36

In [ ]:
solution = lambda a, b, n: max(n - b, 0) // (a - b) * b

[삼총사](https://school.programmers.co.kr/learn/courses/30/lessons/131705)

In [ ]:
def solution(number):
    answer=0
    for first in range(len(number)):
        for second in range(first+1,len(number)):
            for third in range(second+1,len(number)):
                n = number[first] + number[second] + number[third]
                if n == 0:
                    answer += 1

    return answer

In [6]:
def solution(number):
    answer=0
    for first in range(len(number)):
        for second in range(first+1,len(number)):
            for third in range(second+1,len(number)):
                n = number[first] + number[second] + number[third]
                if n == 0:
                    answer += 1

    return answer

print(solution([-2,3,0,2,-5]))
print(solution([-3,-2,-1,0,1,2,3]))
print(solution([-1,1,-1,1]))

2
5
0

In [8]:
def solution (number) :
    from itertools import combinations
    cnt = 0
    for i in combinations(number,3) :
        if sum(i) == 0 :
            cnt += 1
    return cnt

[숫자 짝꿍](https://school.programmers.co.kr/learn/courses/30/lessons/131128)

In [ ]:
def solution(X, Y):
    answer = ""
    x_dict = {str(i): 0 for i in range(10)}
    
    for xx in X:
        x_dict[xx] += 1

    for yy in Y:
        if x_dict[yy] > 0:
            x_dict[yy] -= 1
            answer += yy

    if answer == "":
        return "-1"
    elif all(i == "0" for i in answer):
        return "0"
    else:
        return ''.join(sorted(answer, reverse=True))

In [1]:
# 시간초과 / 살려냄
# 비정상적인 길이를 int로 바꾸는 것은 시간이 많이 걸림
def solution(X, Y):
    answer = ""
    x_dict = {str(i): 0 for i in range(10)}
    
    for xx in X:
        x_dict[xx] += 1

    for yy in Y:
        if x_dict[yy] > 0:
            x_dict[yy] -= 1
            answer += yy

    if answer == "":
        return "-1"
    elif all(i == "0" for i in answer):
#   elif int(answer) == 0:  >>시간초과
        return "0"
    else:
        return ''.join(sorted(answer, reverse=True))

print(solution("100","2345"))
print(solution("100","203045"))
print(solution("15122","11152"))
print(solution("12321","42531"))
print(solution("5525","1255"))

-1
0
5211
321
552

In [ ]:
# 대부분 count로 시간복잡도를 줄임.
# count(i)할 때 마다 결국 한 번 순회하는 거 아닌가.. 왜 시간 복잡도가 적게 나오지..
def solution(X, Y):
    answer = ''

    for i in range(9,-1,-1) :
        answer += (str(i) * min(X.count(str(i)), Y.count(str(i))))

    if answer == '' :
        return '-1'
    elif len(answer) == answer.count('0'):
        return '0'
    else :
        return answer

In [8]:
y = "happy"
y=y.replace("p","")
print(y)

hay

[성격 유형 검사하기](https://school.programmers.co.kr/learn/courses/30/lessons/118666)

In [ ]:
def solution(survey, choices):
    score = {"RT":0, "CF":0, "JM":0, "AN":0}

    for i, choice in enumerate(choices):
        if choice > 3:
            if survey[i] in score:
                score[survey[i]] += (4-choice)
            else: 
                score[survey[i][::-1]] -= (4-choice)
        else: 
            if survey[i] in score:
                score[survey[i]] += (4-choice)
            else: 
                score[survey[i][::-1]] -= (4-choice)
    
    
    answer = ''
    for x,y in score.items():
        if y<0:
            answer += x[1]
        else:
            answer += x[0]

    return answer

In [11]:
def solution(survey, choices):
    score = {"RT":0, "CF":0, "JM":0, "AN":0}

    for i, choice in enumerate(choices):
        if choice > 3:
            if survey[i] in score:
                score[survey[i]] -= (choice-4)
            else: 
                score[survey[i][::-1]] += (choice-4)
        else: 
            if survey[i] in score:
                score[survey[i]] += (4-choice)
            else: 
                score[survey[i][::-1]] -= (4-choice)
    
    
    answer = ''
    for x,y in score.items():
        if y<0:
            answer += x[1]
        else:
            answer += x[0]

    return answer

print(solution(["AN", "CF", "MJ", "RT", "NA"],[5, 3, 2, 7, 5]	))
print(solution(["TR", "RT", "TR"],[7, 1, 3]))
# print(solution())

TCMA
RCJA

[신고 결과 받기](https://school.programmers.co.kr/learn/courses/30/lessons/92334)

In [ ]:
def solution(id_list, report, k):
    id_dict = {i:set() for i in id_list}
    answer_dict = {i:0 for i in id_list}
    
    for rep in report:
        x,y = rep.split()
        id_dict[y].add(x)
        
    for id_val in id_dict.values():
        if len(id_val) >= k:
            for name in id_val:
                answer_dict[name] += 1
    
    answer = list(answer_dict.values())
    
    return answer

In [10]:
def solution(id_list, report, k):
    id_dict = {i:set() for i in id_list}
    answer_dict = {i:0 for i in id_list}
    
    for rep in report:
        x,y = rep.split()
        id_dict[y].add(x)
        
    for id_val in id_dict.values():
        if len(id_val) >= k:
            for name in id_val:
                answer_dict[name] += 1
    
    answer = list(answer_dict.values())
    
    return answer

print(solution(["muzi", "frodo", "apeach", "neo"],	["muzi frodo","apeach frodo","frodo neo","muzi neo","apeach muzi"],	2))

[2, 1, 1, 0]

In [ ]:
# 느리긴한데 생각하지 못한 방법...
def solution(id_list, report, k):
    # 동일한 원소로 이루어진 배열 만들기
    answer = [0] * len(id_list)    
    reports = {x : 0 for x in id_list}
    
    # for문을 돌릴 때 집합으로 변환 후 돌리기
    for r in set(report):
        reports[r.split()[1]] += 1

    # repeort문을 다시 돌림으로써 내부 원소 내용 구하기
    for r in set(report):
        if reports[r.split()[1]] >= k:
            answer[id_list.index(r.split()[0])] += 1

    return answer

[나머지가 1이 되는 수 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/87389)

In [3]:
def solution(n):
    for m in range(1,n):
        if n % m == 1:
            return m

In [1]:
def solution(n):
    for m in range(2,n):
        if (n-1) % m == 0:
            return m
    
print(solution(10))
print(solution(12))

3
11

In [ ]:
def solution(n):
    return [m for m in range(1,n) if n % m == 1][0]

SQL: [과일로 만든 아이스크림 고르기](https://school.programmers.co.kr/learn/courses/30/lessons/133025)

SQL: [인기있는 아이스크림](https://school.programmers.co.kr/learn/courses/30/lessons/133024)

SQL: [흉부외과 또는 일반외과 의사 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/132203)

SQL: [12세 이하인 여자 환자 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/132201)

SQL: [가장 비싼 상품 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131697)

SQL: [조건에 맞는 회원수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131535)

SQL: [나이 정보가 없는 회원 수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131528)

SQL: [경기도에 위치한 식품창고 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/131114)

SQL: [강원도에 위치한 생산공장 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/131112)