[최소직사각형](https://school.programmers.co.kr/learn/courses/30/lessons/86491)

In [ ]:
def solution(sizes):
    w, h = 0, 0
    for size in sizes:
        if max(size) > w:
            w = max(size)
        if min(size) > h:
            h = min(size)
    answer = w*h
    return answer

In [2]:
def solution(sizes):
    w, h = 0, 0
    for size in sizes:
        if max(size) > w:
            w = max(size)
        if min(size) > h:
            h = min(size)
    answer = w*h
    return answer

solution([[60, 50], [30, 70], [60, 30], [80, 40]])

4000

In [7]:
solution = lambda sizes: max(sum(sizes, [])) * max(min(size) for size in sizes)

# sum(size,[])
# >>> [60, 50, 30, 70, 60, 30, 80, 40]

a=[1,2,3,4,5]
b=["happy"]
c=["merry"]

print(b+c)
print(sum((b,c),[]))
print(sum([],(b,c)))
print(sum((b,c)))

['happy', 'merry']
['happy', 'merry']
(['happy'], ['merry'])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

[없는 숫자 더하기](https://school.programmers.co.kr/learn/courses/30/lessons/86051)

In [ ]:
def solution(numbers):
    return sum(range(10)) - sum(numbers)

In [3]:
def solution(numbers):
    answer = 45 - sum(numbers)
    return answer

solution([1,2,3,4,6,7,8,0])

14

[부족한 금액 계산하기](https://school.programmers.co.kr/learn/courses/30/lessons/82612)

In [ ]:
def solution(price, money, count):
    return max(0, money-count*(count+1)*(1/2)*price)

In [ ]:
def solution(price, money, count):
    fee = count*(count+1)*(1/2)*price

    return fee-money if (fee-money)>0 else 0

[숫자 문자열과 영단어](https://school.programmers.co.kr/learn/courses/30/lessons/81301)

In [ ]:
def solution(s):
    temp = ""
    answer = ""
    numbers={
        "zero":0,
        "one":1,
        "two":2,
        "three":3,
        "four":4,
        "five":5,
        "six":6,
        "seven":7,
        "eight":8,
        "nine":9
    }
    for i in s:
        if i.isnumeric():
            answer += str(i)
        else:
            temp += i

            if temp in numbers:
                answer += str(numbers[temp])
                temp = ""

    return int(answer)

In [11]:
def solution(s):
    temp = ""
    answer = ""
    numbers={
        "zero":0,
        "one":1,
        "two":2,
        "three":3,
        "four":4,
        "five":5,
        "six":6,
        "seven":7,
        "eight":8,
        "nine":9
    }
    for i in s:
        if i.isnumeric():
            answer += str(i)
        else:
            temp += i

            if temp in numbers:
                answer += str(numbers[temp])
                temp = ""

    return int(answer)

print(solution("one4seveneight"))
print(solution("23four5six7"))

1478
234567

In [ ]:
# replace(a,b) >>> replace a to b
num_dic = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

def solution(s):
    answer = s
    for key, value in num_dic.items():
        answer = answer.replace(key, value)
    return int(answer)

[약수의 개수와 덧셈](https://school.programmers.co.kr/learn/courses/30/lessons/77884)

In [ ]:
def solution(left, right):
    answer = 0

    for number in range(left, right+1):
        div = 0

        for i in range(1, int((number**(1/2))+1)):
            if number%i == 0:
                if i < number//i:
                    div += 1
                div += 1

        if div%2:
            answer -= number
        else:
            answer += number

    return answer

In [3]:
def solution(left, right):
    answer = 0

    for number in range(left, right+1):
        div = 0

        for i in range(1, int((number**(1/2))+1)):
            if number%i == 0:
                if i < number//i:
                    div += 1
                div += 1

        if div%2:
            answer -= number
        else:
            answer += number

    return answer

print(solution(13,17))
print(solution(24,27))

43
52

In [ ]:
# 제곱수는 약수의 개수가 홀수...
def solution(left, right):
    answer = 0
    for i in range(left,right+1):
        if int(i**0.5)==i**0.5:
            answer -= i
        else:
            answer += i
    return answer

[로또의 최고 순위와 최저 순위](https://school.programmers.co.kr/learn/courses/30/lessons/77484)